/* Estilo geral da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  margin-top: 2rem;
}

#report-container {
  margin-top: 2rem;
  width: 90%; /* Reduzir a largura para melhor adaptação */
  max-width: 1200px; /* Limitar a largura máxima */
  margin: 0 auto;
}

canvas {
  width: 100% !important; /* Garantir que o gráfico ocupe toda a largura */
  height: 500px !important; /* Aumentar a altura para o gráfico ficar maior */
  margin: 0 auto;
}

/* Adicionar bordas para o gráfico */
#reportChart {
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
